<!doctype html>
<html lang=en-US>
<head>
  <%- include('meta') %>
  <title><%= blogTitle %></title>
</head>
<body>
  <%- include('header') %>
  <%- include('nav') %>
  <main role=main>
    <ol class=posts>
    <% for (const post of posts) { %>
      <li>
        <a href="<%- post.href %>"><%= post.title %></a>
        <time datetime="<%= post.dateObject.toISOString() %>"><%= post.dateString %></time>
        <% if (post.description) { %><p class=description><%= post.description %></p><% } %>
      </li>
    <% } %>
    </ol>
  </main>
  <%- include('footer') %>
</body>
</html>
