<!doctype html>
<html lang=en-US>
<head>
  <%- include('meta') %>
  <title><%= title %></title>
</head>
<body>
  <%- include('header') %>
  <%- include('nav') %>
  <main role=main>
    <ol class=posts>
    <% for (const post of posts) { %>
      <li>
        <a href="<%- post.href %>"><%= post.title %></a>
        <time datetime="<%= post.date.toISOString() %>"><%= post.date %></time>
      </li>
    <% } %>
    </ol>
  </main>
  <%- include('footer') %>
</body>
</html>
