<!doctype html>
<html lang=en-US>
<head>
  <%- include('meta') %>
  <title><%= title %></title>
</head>
<body>
  <%- include('header') %>
  <%- include('nav') %>
  <main role=main>
    <h2><%= title %></h2>
    <% if (description) { %><p class=description><%= description %></p><% } %>
    <time class=dateline datetime=<%- dateObject.toISOString() %>><%= dateString %></time>
    <% if (series) { %>
    <p class=series>This post is part of a series, <a href="<%= seriesHREF %>"><%= series %></a>.</p>
    <% } %>
    <ul class=tags>
    <% for (const tag of tags) { %>
    <li><a href="<%- tag.href %>"><%= tag.text %></a></li>
    <% } %>
    </ul>
    <%- contentHTML %>
  </main>
  <%- include('footer') %>
</body>
</html>
