<!doctype html>
<html lang=en-US>
<head>
  <%- include('meta') %>
  <title><%= text %></title>
</head>
<body>
  <%- include('header') %>
  <%- include('nav') %>
  <main role=main>
    <h2>Series: <%= text %></h2>
    <ol class=posts>
    <% for (const post of posts) { %>
      <%- include('post-li', { post }) %>
    <% } %>
    </ol>
  </main>
  <%- include('footer') %>
</body>
</html>
