<li>
  <a class=title href="<%- post.href %>"><%= post.title %></a>
  <time datetime="<%= post.dateObject.toISOString() %>"><%= post.dateString %></time>
  <% if (post.description) { %><p class=description><%= post.description %></p><% } %>
</li>
